# Mobile Tools for Java (J2ME)
.mtj.tmp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle
build
gradle-app.setting
gradle.properties

# eclipse
.settings
.metadata
.classpath
.project
bin

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
out
atlassian-ide-plugin.xml

# Minecraft Forge
forge
run
libs

# Models
!*.obj
